{% extends '::base.html.twig' %}

{% block title %}{{ "I forgot my password"|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent () }}
    <link rel="stylesheet" href="{{ asset('bundles/xsharesecurity/css/registration.css') }}" type="text/css" media="all" />
{% endblock %}  
    
{% block maincontent %}
    <div>
        <h2>{% trans %}I forgot my password{% endtrans %}</h2>
        <br/>  
        <form action="{{ path('user_forgot_password') }}" method="post" class="registration">
            {% if form_errors(form) %}
                <div class="error-div">
                    {{ form_errors(form) }}        
                </div>
            {% endif %}

            {% if form_errors(form.username) and (user.username != null) %}
                <div class="error-div">
                    {{ form_errors(form.username)}}  
                </div>
            {% endif %}

            {% if app.session.hasFlash('notice') %}
                <div class="error-div">
                    {{ app.session.flash('notice') }}
                </div>
            {% endif %}    
            <br/>
            <div class="left-form-side">
                <div>    
                    <div>
                        <div>  
                            {{ form_label(form.username, 'Username'|trans ~ '*' ) }}
                        </div>
                        <div>    
                            {{ form_widget(form.username) }}
                        </div>
                    </div>

                    <div>
                        <div>
                            {{ form_label(form.password.first, 'New password'|trans ~ '*' ) }}
                        </div>
                        <div>
                            {{ form_widget(form.password.first) }}
                        </div>    
                    </div>     
                    <div>
                        <div>
                            {{ form_label(form.password.second, 'Confirm new password'|trans ~ '*' ) }}
                        </div>
                        <div>
                            {{ form_widget(form.password.second) }}
                        </div>    
                    </div>
                    {{ form_rest(form) }}    
                </div>
            </div> 
            <br>
            <div align="center">
                <input id="register-button" type=submit value="{% trans %}Submit{% endtrans %}" />
            </div>
        </form> 
    </div>        
{% endblock %}