<div class="ui-widget search-box">
<form action="{{ path('general_search') }}" method="get" id="search-form" >
    <input type="text" id="search-input" value="{{ "Search"|trans }}..." name="search-keyword" />
    <input class="search-button" type="submit" value="" />
</form>
</div>
{% render "XshareProductBundle:Category:categoriesList" %}

<script type="text/javascript">

    $(function(){

        //remove default value
        $('#search-input').focus(function(evt){
            if($(this).val() == '{{"Search" | trans}}...')
                $(this).val('');
        });

        //add default value
        $('#search-input').blur(function(evt){
            if($(this).val() == '')
                $(this).val('{{"Search" | trans}}...');
        });

        //form submit functionality
        $('#search-form').submit(
            function(evt){
                evt.preventDefault();
                var searchVal = $.trim($('input[type="text"]', $(this)).val());
                if(searchVal.length > 1) {
                    window.location = $(this).attr('action') + '/' + searchVal;
                }
            }
        );

        //autcomplit
        var cache = {}, lastXhr;

        $( '#search-input' ).autocomplete({
            minLength: 3,
            source: function( request, response ) {
                var term = request.term;
                console.log(term);
                if ( term in cache ) {
                    response( cache[ term ] );
                    return;
                }

                lastXhr = $.getJSON( "{{ path('search_autocomplete') }}", request, function( data, status, xhr ) {
                    cache[ term ] = data;
                    if ( xhr === lastXhr ) {
                        response( data );
                    }
                });
            }
        });

    });

</script>